<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--添加日志配置    -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!-- 配置别名 -->
    <typeAliases>
        <package name="com.ls.springmvc.vo"/>
    </typeAliases>
    <!-- 告诉MyBatis到哪里去找映射文件 -->
    <mappers>

<!--        <mapper resource = "UserMapper.xml"/>-->
<!--    <mapper url = "classpath:/com/ls/springAop/spring_mybatis/UserMapper.xml"/>-->
    </mappers>
</configuration>