<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ls.springmvc.dao.ResourceDao">

    <select id="pageSearch"  resultType="com.ls.springmvc.vo.Resource">
        select * from resource
    </select>

    <!-- 删除资源 -->
    <delete id="deleteResource" parameterType="Integer">
        delete from resource where resid=#{resid}
    </delete>
</mapper>