<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ls.springmvc.dao.UserDao">
    <!-- 根据id查询用户 -->
    <select id="findUserById" parameterType="Integer" resultType="com.ls.springmvc.vo.User">
        select * from user where userid = #{userid}
    </select>
    <select id="findUserByUsername" parameterType="String" resultType="com.ls.springmvc.vo.User">
        select * from user where username = #{username}
    </select>
    <select id="pageSearch"  resultType="com.ls.springmvc.vo.User">
        select * from user
    </select>
    <!-- 添加用户 -->
    <insert id="addUser" parameterType="com.ls.springmvc.vo.User">
        insert into user(username,password,phone,email,age,role,address,time,status,gender)
        values(#{username}, #{password},#{phone},#{email},#{age},#{role},#{address},#{time},#{status},#{gender})
    </insert>

    <!-- 更新用户信息 -->
    <update id="updateUser" parameterType="com.ls.springmvc.vo.User">
        UPDATE user SET  username = #{username},gender = #{gender},phone = #{phone},email = #{email},
                         address = #{address},role = #{role},status = #{status}
        WHERE userid = #{userid}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="Integer">
        delete from user where userid=#{userid}
    </delete>
</mapper>